<%= form_with(model: parcel) do |form| %>
  <% if parcel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parcel.errors.count, "error") %> prohibited this parcel from being saved:</h2>

      <ul>
        <% parcel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Sender Information</h2>
  <div class="field">
    <%= form.label :sender_id %>
    <%= form.text_field :sender, value: "#{current_user.name}-#{current_user.email}-#{current_user.address&.mobile_number}", disabled: true %>
    <%= form.hidden_field :sender_id, value: current_user.id %>
  </div>

  <!-- Add fields to display sender's contact details -->

  <h2>Receiver Information</h2>
  <div class="field">
    <%= form.label :receiver_id %>
    <%= form.select :receiver_id, @users %>
    <%= link_to "New Receiver", new_userlist_path, target: "_blank" %>
  </div>


  <!-- Add fields to display receiver's contact details -->


  <h2>Parcel Information</h2>
  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <% if current_user.is_admin? %>
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, Parcel::STATUS %>
    </div>
  <% else %>
    <div class="field" style="pointer-events: none;">
      <%= form.label :status %>
      <%= form.select :status, Parcel::STATUS, { disabled: true }, style: " background: #BBBBBB" %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_type_id %>
    <%= form.select :service_type_id, @service_types %>
  </div>

  <div class="field">
    <%= form.label :payment_mode %>
    <%= form.select :payment_mode, Parcel::PAYMENT_MODE %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>