<p id="notice"><%= notice %></p>

<h1>List Parcels</h1>

<br />

<%= link_to 'New Parcel', new_parcel_path %>
<%#= link_to 'Export CSV', export_csv_parcels_path(format: :csv) %>


<br /><br />

<table>
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Weight</th>
      <th>Status</th>
      <th>Service Type</th>
      <th>Payment Mode</th>
      <th>Sender Name</th>
      <th>Sender Address</th>
      <th>Sender Mobile No</th>
      <th>Receiver Name</th>
      <th>Receiver Address</th>
      <th>Receiver Mobile No</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.order_id %></td>
        <td><%= parcel.weight %></td>
        <td><%= parcel.status %></td>
        <td><%= parcel.service_type.name %></td>
        <td><%= parcel.payment_mode %></td>
        <td><%= parcel.sender.name %></td>
        <td><%= parcel.sender.address.address_line_one %></td>
        <td><%= parcel.sender.address.mobile_number %></td>
        <td><%= parcel.receiver.name %></td>
        <td><%= parcel.receiver.address.address_line_one %></td>
        <td><%= parcel.receiver.address.mobile_number %></td>
        <td><%= link_to 'Show', parcel %></td>
        <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
        <td><%= link_to 'Destroy', parcel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @parcels %>
